<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block content %}

<style>
  .container {
      display: flex;
      justify-content: flex-start;
  }
  .box {
      width: 45%;
      padding: 20px;
      border: 1px solid #FFFFFF;
  }
</style>

<div>
<h1>HLD Results</h1>
  Plots of HLD outputs. 
</div>
    
<h2>Reconstructed RF Gram matrix using top 5 most dominant Haar Coordinates</h2>
Here an RF Gram  matrix (left) is compared to the sparse approximation
using 5 haar-like coordinates.
These should faintly resemble eachother and
show how well a sparse approximation is able to represent your dataset.

<div class="container">
  <div class="box">
    <h2> RF Gram Matrix</h2>
    This plot shows the RF affinity between each set of points. The RF affinity is a 
    distance metric that measures how similar two samples are by comparing how similarly
    the decision trees in a random forest behave when classifying samples. In simpler
    terms this can be viewed as a distance matrix for all samples based on the RF affinity
    distance. 
  </div>
  <div class="box">
    <h2>Reconstructed haar-like distance matrix</h2>
    Our goal is to reconstruct the RF Gram Matrix using a reduced feature space, so
    we learn weights for the 5 most important internal nodes of the phylogeny tree and
    reconstruct the dataset using only this information. Ideally the reconstructed matrix
    will look similar to the RF Gram Matrix and have a relatively high correlation. Note that
    because the two different ways of reconstructing the data matrix use different scales, 
    correlations in the range .2 - .5 should be considered adequate.
  </div>

  <!-- The resulting embedding is based entirely on a small (5) number of clades. 
  What is shown here is the distance matrix resulting from the new sample embedding.
  On the left we see the Random Forest Gram-like matrix.
  This is derived from #################### I left off here, I'm describing how
  the metric learning nooooo I'm describing why the rf gram matrix resembles
  the original dataset and how the reconstructed haar-like "kernel" learns
  weights to reconstruct it and display the differences between the two. -->
</div>
<img src="rfgram.svg" alt="rfgram">

<h2>Log Ratios</h2>
<div>
  <img src="boxplot.svg" alt="boxplot">
</div>

<h2>Biplots</h2>
<div>
  <img src="biplot.svg" alt="biplot">
  <img src="biplotn.svg" alt="biplotn">
</div>

<!-- print the most important internal nodes -->
<h2>Postorder internal node indeces</h2>
<div>
  The following are the coordinates of the internal nodes found to be most important: {{ coordinates }}
</div>


<!-- print the most important taxa -->

<style>
  .scroll-box {
      max-height: 400px;
      overflow-y: scroll;     /* Enable vertical scrolling */
  }
</style>

<h2>Most Important Taxa</h2>
<div>
  The following are the corresponding clades found to be most important in distinguishing groups.
  coord x refers to the internal node and listed below are the left and right children of the tree.
  These taxonomic splits are found to be the most important over the tree according to HLD.
</div>
  

<div class="scroll-box">
  <pre>{{ s }}</pre>
</div>

<!-- print the most important taxa -->
<h2>Variable of Interest</h2>
<div>
  The variable of interest used for this analysis was: {{ label }}
</div>


{% endblock %}